blockquote.twitter-tweet.negative{
    border-color: red;
    border-width: 2px;
}
blockquote.twitter-tweet.positive{
    border-color: green;
    border-width: 2px;
}

#percentageChart {
    width:  180px;
    height: 180px
}

#map {
    width: 500px;
    height: 500px;
    margin-top: 60px;
}

.percent .positive.right{
    margin-left: -20px;
}
.percent .right p {
    margin: 0;
    margin-top: -10px;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.47);
    font-weight: bold;
}
.percent .right{
    height: 180px;
    padding-top: 50px;
    text-align: right;
}
.negative-color{
    color: red;
}
.positive-color{
    color: green;
}
table.users-table tr{
    cursor: pointer
}

.modals-content{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
}
.modals-content .fancymodal {
    left: inherit;
    right: inherit;
    top: inherit;
    bottom: inherit;
    padding: 0;
    width: 100%;
    position: relative;
    margin: 10px -10px;
}
.modals-content .fancymodal .fancymodal-content{
    min-width: 350px;
    background-color: rgba(243, 94, 94, 0.72);
    float: right;
    color: white;
    font-weight: 200;
    text-align: center;
    padding: 2em .5em 1em .5em;
}
.modals-content .fancymodal .fancymodal-overlay{
    background-color: transparent;
}
.yun-modal {
    position: fixed;
    right: 0;
    top: 0;
    width: 40%;
    background-color: rgb(180, 182, 218);
    height: 100vh;
    overflow-y: scroll;
    padding: 20px 20px 20px 40px;
}