blockquote.twitter-tweet.negative{
    border-color: red;
    border-width: 2px;
}
blockquote.twitter-tweet.positive{
    border-color: green;
    border-width: 2px;
}

#chartPercentage {
    width: 300px;
    height: 300px
}