/* Generals */

*{
    font-family: 'Roboto', sans-serif;
}

.negative-color {
    color: red;
}

.positive-color {
    color: green;
}

table.users-table tr {
    cursor: pointer
}

/*/////////////////  Modals for errors ////////////*/

.modals-content {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
}

.modals-content .fancymodal {
    left: inherit;
    right: inherit;
    top: inherit;
    bottom: inherit;
    padding: 0;
    width: 100%;
    position: relative;
    margin: 10px -10px;
}

.modals-content .fancymodal .fancymodal-content {
    min-width: 350px;
    background-color: rgba(243, 94, 94, 0.72);
    float: right;
    color: white;
    font-weight: 200;
    text-align: center;
    padding: 2em .5em 1em .5em;
}

.modals-content .fancymodal .fancymodal-overlay {
    background-color: transparent;
}


/*/////////////////  End modals for errors ////////////*/


/*/////////////////  Modal for user ////////////*/

.yun-modal {
    position: fixed;
    right: -40%;
    top: 0;
    width: 40%;
    background-color: rgb(180, 182, 218);
    height: 100vh;
    overflow-y: scroll;
    padding: 10px 20px 20px 40px;
    transition: 0.4s all ease;
}
.yun-modal .row.close-row .fa-close {
    font-size: 1.5em;
    padding-right: 20px;
    color: slategrey;
    cursor: pointer
}
.yun-modal .user-profile {
    height: 150px;
}
.yun-modal .user-profile .user-photo {
    text-align: center;

}
.yun-modal .user-profile .username {
    font-size: 1.3em;
    color: gray;
    position: relative;
    top: -5px;
    left: 10px;
}
.yun-modal .user-photo img{
    height: 100px;

}

.yun-modal.activate {
    right: 0;
}


/*/////////////////  End modal for user ////////////*/


/*///////////////// Charts and maps Styles ////////////*/

.chart#percentageChart {
    width: 180px;
    height: 180px
}

.map#map {
    width: 500px;
    height: 500px;
    margin-top: 60px;
}

.percent .positive.right {
    margin-left: -20px;
}

.percent .right p {
    margin: 0;
    margin-top: -10px;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.47);
    font-weight: bold;
}

.percent .right {
    height: 180px;
    padding-top: 50px;
    text-align: right;
}