<div>
    <div class="percent row">
        <div id="percentageChart" class="chart left col-sm-6"></div>
        <div class="positive right col-sm-2">
            <h2>{{Board.data.stats.positivePercentage | number:0}}%</h2>
            <p>Positivos</p>
        </div>
        <div class="total-tweets right col-sm-3">
            <h2>{{Board.data.stats.num}}</h2>
            <p>Tweets</p>
        </div>

    </div>
    <div class="timeline">
        <div class="row" id="timelineChart" ng-init="Board.trick()"></div>
    </div>
    <br>
    <br>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseTweets">Ver Tweets</button>
    <div class="collapse" id="collapseTweets">
        <blockquote ng-show="true" ng-repeat="tweet in Board.data.tweets track by $index" class="twitter-tweet" ng-class="{negative : (tweet.sentiment < 0), positive : (tweet.sentiment > 0)}">
            <a>{{tweet.user.name}}</a>
            <p>{{tweet.text}}</p>
        </blockquote>
    </div>
</div>