<h1>Generales</h1>

<div class="percent">
    <p>Positivos => {{Board.data.stats.positivePercentage}} % </p>
    <p>Negativos => {{Board.data.stats.negativePercentage}} % </p>
    <p>Neutrales => {{Board.data.stats.neutralPercentage}} % </p>

    <p>Num Tweets : {{Board.data.stats.num}}</p>
</div>

<blockquote
    ng-show="true"
    ng-repeat="tweet in Board.data.tweets track by tweet.id"
    class="twitter-tweet"
    ng-class="{negative : (tweet.sentiment < 0), positive : (tweet.sentiment > 0)}">
    <a>{{tweet.user.name}}</a>
    <p>{{tweet.text}}</p>
</blockquote>
<!--

<blockqoute ng-repeat="tweet in Board.tweets track by tweet.id" class="twitter-tweet">
    <p>{{tweet.text}}</p>
    &mdash; {{tweet.user.name}} (@{{tweet.user.screen_name}})
    <a href="https://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.id}}"
        data-datetime="{{tweet.timestamp_ms}}"></a>
</blockqoute>
    <script src="/libs/twitter/widgets.js"></script>
-->