<div class="text-center">
    <ul class="nav nav-pills">
        <li role="presentation" ng-class="{active : Board.optionMapSelected == 'Sentimiento'}"><a ng-click="Board.optionMapSelected = 'Sentimiento'">Sentimiento</a></li>
        <li role="presentation" ng-class="{active : Board.optionMapSelected == 'Tweets'}"><a ng-click="Board.optionMapSelected = 'Tweets'">Tweets</a></li>
        <li role="presentation" ng-class="{active : Board.optionMapSelected == 'Recientes'}"><a ng-click="Board.optionMapSelected = 'Recientes'">Recientes</a></li>
    </ul>
</div>

<!--<map data="Board.Data">

</map>
-->

<small ng-show="Board.data.tweets.length > 0">En el mapa solo saldrán aquellos tweets que tienen datos geográficos</small>
<div id="map">

</div>