<div class="text-center">
    <ul class="nav nav-pills">
    <li role="presentation" ng-class="{active : Board.optionMapSelected == 'Generales'}"><a ng-click="Board.optionMapSelected = 'Sentimiento'">Sentimiento</a></li>
    <li role="presentation" ng-class="{active : Board.optionMapSelected == 'Tweets'}"><a ng-click="Board.optionMapSelected = 'Tweets'">Tweets</a></li>
    <li role="presentation" ng-class="{active : Board.optionMapSelected == 'Recientes'}"><a ng-click="Board.optionMapSelected = 'Recientes'">Recientes</a></li>
    </ul>
</div>

<!--<map data="Board.Data">

</map>
-->

<div id="map">

</div>