<div class="yun-modal" ng-class="{activate : UserCtrl.user != null}">
    <div class="row">
        <div class="col-sm-5">
            <img ng-src="UserCtrl.user.profile_image_url" alt="">
        </div>
        <div class="col-sm-7">
            <div class="row">
                <div class="username"><b>@{{UserCtrl.user.screen_name}}</b></div>
            </div>
            <div class="row">
                <p>{{UserCtrl.user.description}}</p>
            </div>
            <div class="row">
                <div class="followers_count">{{UserCtrl.user.followers_count}} Seguidores</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5">
            <b>Stats</b>
        </div>
        <div class="col-sm-1">
            |
        </div>
        <div class="col-sm-5">
            <b>Tweets</b>
        </div>
    </div>

    <div class="row stats-container">
        <div id="user-chart-sentiment">

        </div>
        <div class="percentage">
            <h2>{{UserCtrl.user.sentiment}} </h2>
            <span>Positivos</span>
        </div>
        <div class="sentiment-info">
            <div class="row">
                <h2>{{UserCtrl.user.tweets.length}} Tweets</h2>
            </div>
            <div class="row">
                {{UserCtrl.user.numberOfRTsReceived}} RTs {{UserCtrl.user.numberOfFavsReceived}} Favs
            </div>
        </div>
    </div>

    <blo class="row tweets-related">
        <blockquote ng-repeat="tweet in UserCtrl.user.tweets | filter:Board.relatedTweets track by tweet.id" class="col-sm-5 twitter-tweet"
            ng-class="{negative : (tweet.sentiment < 0), positive : (tweet.sentiment > 0)}">
            <a>{{::tweet.user.name}}</a>
            <p>{{::tweet.text}}</p>
        </blockquote>
</div>